
  <!-- <div class="slider">
    <div class="image-wrapper">
        <div class="slide">
            <img src="https://images.unsplash.com/photo-1617258856138-402b60da4e2a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
        </div>
        <div class="slide">
            <img src="https://images.unsplash.com/photo-1626818590159-04cb9274a5e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80" alt="">
        </div>
        <div class="slide">
            <img src="https://images.unsplash.com/photo-1628705077470-21ff5a207b47?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1890&q=80" alt="">
        </div>
        <div class="slide">
            <img src="https://images.unsplash.com/photo-1596181243306-e02a1897afb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
        </div>
    </div>
  </div> -->


