<ion-header>
  <ion-toolbar>
    Men
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="shoesCards">
    <h2>Shoe Collection</h2>
    <div class="shoeColl">
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/7107b5de-78e1-43f8-899e-232a88c8bd53/custom-nike-air-force-1-low-by-you.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹6,990</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_669,c_limit/07874320-fba8-4712-8670-34df66141622/dunk-low-shoes-T4Ckpv.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹12,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/56cf690b-120d-4d81-a7ae-cc09c34c2cb2/air-jordan-1-zoom-cmft-2-shoes-qn2GdG.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹8,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/5868ed8e-bcba-464f-b26f-a0c8bd86bda6/dunk-low-retro-shoe-Q77g1d.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹12,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/8dafdebb-863d-48a8-9224-614a192a3ef6/air-force-1-07-lv8-shoes-ggb31G.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹14,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/357cf26a-26a1-4ff0-8cde-d46249051eff/pegasus-trail-4-gore-tex-waterproof-trail-running-shoes-tVWltb.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹12,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/07ad554d-077a-46c1-aa96-167ba177901d/custom-nike-dunk-low-by-you.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>7,599</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/9c9308fc-1651-40b2-9f2e-d85697d05027/dunk-low-retro-shoes-BDKXTS.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹8,899</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/e6da41fa-1be4-4ce5-b89c-22be4f1f02d4/air-force-1-07-shoes-GjGXSP.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹8,799</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_669,c_limit/lkwfba88t6qix4qxaavi/vomero-5-shoes-qZG4RJ.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹12,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/h_669,c_limit/c3393350-4ea7-44bb-a3fd-dee4b7376884/p-6000-shoes-6l9ww7.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹10,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/q_auto:eco/t_product_v1/f_auto/dpr_2.0/w_669,c_limit/3052daa5-8ea2-4e10-80fc-a8a73122f56c/cortez-se-shoes-Pfr5Qh.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Shoes</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹11,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
    </div>
  </div>
  
  <footer style="display: flex;align-items: center; justify-content: center;">
    <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
  </footer>
  
  <section class="socialHandles">
    <div class="social">
      <a href="https://www.instagram.com/sumitshxn/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="https://twitter.com/login?lang=en" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://in.pinterest.com/" target="_blank"><ion-icon name="logo-pinterest"></ion-icon></a>
  
    </div>
  </section>
</ion-content>