.content{
    background-color: black;
    // background-image: url("https://www.tastingtable.com/img/gallery/coffee-brands-ranked-from-worst-to-best/intro-1645231221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}