<ion-header>
  <ion-toolbar>
    About Us
  </ion-toolbar>
</ion-header>

<ion-content> 
<section>
  <div class="about-section">
    <div class="company-logo">
      <ion-icon name="logo-octocat"></ion-icon>
    </div>
    <div class="company-info">
        <h1>About Us</h1>
        <p>Welcome to the world of innovation and technology. XYZ Electronics is your gateway to cutting-edge electronic gadgets and accessories. We're dedicated to enhancing your digital experience through quality products and exceptional service.</p>
        <p>Our journey began in 2010 when founders John and Sarah Smith decided to transform their passion for technology into a thriving business. Over the years, we've grown into a trusted name in the industry, committed to delivering the latest tech trends.</p>
    </div>
  </div>

  <div class="about-section">
    <div class="company-logo">
      <ion-icon name="logo-octocat"></ion-icon>
    </div>
    <div class="company-info">
        <h1>Our Journey</h1>
        <p>
          Our journey in the realm of e-commerce has been an exhilarating adventure filled with innovation, dedication, and an unwavering commitment to our customers. It all began when our founders, John and Sarah Smith, shared a common vision: to create a digital marketplace that redefined the way people interacted with technology. In 2010, armed with a passion for innovation and a deep understanding of the tech landscape, they took their first step by establishing our company.  
        </p>        
    </div>
  </div>
</section>


  <footer>
    <div class="social">
      <a href="https://www.instagram.com/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="https://twitter.com/" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://in.pinterest.com/" target="_blank"><ion-icon name="logo-pinterest"></ion-icon></a>
    </div>
  </footer>
  <footer style="display: flex;align-items: center; justify-content: center;">
    <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
  </footer>
</ion-content>