<ion-content>
    <div class="content">
    <section class="first">
        <div class="content-left">       
        <h1>About Us</h1>
        <p>We have our traditional handloom business<br>
          where we work on our traditional BHARATIYA Dresses</p>
        </div> 
            <div class="image-right">
                <img src="https://i.pinimg.com/originals/c6/72/89/c67289240a0733d500d43ff25f9e6e59.png">
            </div>
    </section>
 <section class="second">
        <h4>OUR STORY </h4>
          <p>  The first shop was opened by our great grand father's father<br>
           then as the business grew because that time the businesses were less. <br>
            <br>Today,we greaw to be so big that all BHARAT know us, it feels great.</p>
    </section>
</div>

</ion-content>