<ion-header>
  <ion-toolbar>
    KIDS
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>FRESHLY ARRIVED</h3>
  <div class="rowing">
    <div class="coloumn">
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1622290319146-7b63df48a635?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80" alt="">
        <h5>White dress & essentials</h5>
        <p>₹1,990</p>
        <ion-button fill="opportunity">Buy</ion-button>
      </div>
      <div class="cont">
        <img src="https://plus.unsplash.com/premium_photo-1664298810627-18a9f54a136e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <h5>White Upper</h5>
        <p>₹1,199</p>
        <ion-button fill="opportunity">Buy</ion-button>
      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1622290291468-a28f7a7dc6a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80" alt="">
        <h5>White dress & Bear toys</h5>
        <p>₹4,999</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1622290291720-ac961c43ee30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80" alt="">
        <h5>White dress & toys</h5>
        <p>₹3,599</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1594726648897-f970a4907b98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80" alt="">
        <h5>New born Dress</h5>
        <p>₹1,299</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1540479859555-17af45c78602?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <h5>boots</h5>
        <p>₹2,999</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1515488042361-ee00e0ddd4e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2075&q=80" alt="">
        <h5>Baby toys</h5>
        <p>₹2,799</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://plus.unsplash.com/premium_photo-1675183690347-662b2f9f3cf7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <h5>Full dress</h5>
        <p>₹2,599</p>
        <ion-button fill="opportunity">Buy</ion-button>

      </div>
      <div class="cont">
        <img src="https://images.unsplash.com/photo-1578178233034-33258dacb4c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt="">
        <h5>Yellow dress  </h5>
        <p>₹1,499</p>
        <ion-button fill="opportunity">Buy</ion-button>
        
      </div>

    </div>
  </div>
</ion-content>