<ion-header>
  <ion-toolbar>
    Contact details
  </ion-toolbar>
</ion-header>


<ion-content>
  <section class="contact">
    <h2>Details</h2>
    <form action="/form/submit" method="post">
      <label for="name">Name</label>
      <input type="text" placeholder="First Name" required>
      <label for="lastname">Last Name</label>
      <input type="text" placeholder="Last Name" required>
      <label for="email">Email</label>
      <input type="Email" placeholder="example@123" required>
      <label for="Number">Mobile Number</label>
      <input type="tel" placeholder="Phone number" required>
      <label for="password">Password</label>
      <input type="password" placeholder="Password" required>
      <label for="name">Repeat Password</label>
      <input type="passwork" placeholder="password" required>
      <button type="submit">submit</button>
    </form>
  </section>
</ion-content>