form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    box-shadow: -3px -4px 5px rgba(100 100 102);
    border: 2px solid red;
    height: 100vh;
}
.contact h2{
    margin-left: 45%;
}
form label{
    margin: 10px;
}

form  input{
    width: 30rem;   
}

form button{
    margin-top: 20px;
    width: 30rem;
    height: 30px;
    background-color: green;
}