<ion-header>
  <ion-toolbar>
    Contact
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="nav">
    <h3>INFORMATION</h3>
    <p>We are a service providing company meaning we provide service, <br> to people that gives them joy or anykind of comfort that makes their job easier.</p>
    <section class="info">
    <h4>OUR CONTACT INFO</h4>
    <address>
      <p>Sumit kumar</p>
      <p>Kuleed, Near FCI</p>
      <p>kishtwar, 182204</p>
      <p><a href="tel:+916006477163">600-647-7163</a></p>
    </address>
  </section>
</div>
</ion-content>
