<ion-content>
  <div class="top">    
    <img src="https://img.freepik.com/premium-vector/online-shopping-logo-design-template-simple-minimal-style-mouse-cursor-with-bag-concepts_502185-289.jpg" alt="" height="50px" width="100px">
    <div class="nav">
      <ul>
        <li class="heading" id="">Home</li>
        <li class="heading"><a routerLink="/about">About</a></li>
      <li class="heading"><a routerLink="/contact">Contact</a></li>
    </ul>
        <input type="text" placeholder="search">      
        <ion-button fill="opportunity" id="SearchButton" ><ion-icon name="search-outline">search</ion-icon></ion-button>  
    </div>
 </div>

<div class="front">
  <div class="frontContent">
    <h1>Enterprise <br>
      e-commerce, <br>
      simplified.</h1>
      <ion-button fill="opportunity">Purchase</ion-button>
      <ion-button fill="opportunity">Know More</ion-button>
    </div>
</div>


<div class="something">
  <div class="something-hidden">
  <h1>We sell the best <br> 
  Always Here For You.</h1>
    <button type="button">Shop</button>
  </div>
</div>

<div class="SoloLeveling">
  <h1>The New Arrival is Here.</h1>
  <p>Get Ready to get best deals and amazing offers. </p>
</div>
</ion-content>




