<ion-header>
  <ion-toolbar>
    Women
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="shoesCards">
    <h2>Our Collection</h2>
    <div class="shoeColl">
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1593380090147-a2192b72a9ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80" alt="">
        <div class="shoesFun">
          <span>Top</span>
          <h5>Dress</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹3,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="shoesFun">
          <span>Multiple</span>
          <h5>Top</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹6,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1564463836257-f028d0ff4446?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="shoesFun">
          <span>Red</span>
          <h5>Top</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹3,490</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1537832816519-689ad163238b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2059&q=80" alt="">
        <div class="shoesFun">
          <span>Purse</span>
          <h5>& Glasses</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹7,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/8dafdebb-863d-48a8-9224-614a192a3ef6/air-force-1-07-lv8-shoes-ggb31G.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>black</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹9,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/357cf26a-26a1-4ff0-8cde-d46249051eff/pegasus-trail-4-gore-tex-waterproof-trail-running-shoes-tVWltb.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Gortex</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹10,199</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/07ad554d-077a-46c1-aa96-167ba177901d/custom-nike-dunk-low-by-you.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>Travis</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4> 12,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://static.nike.com/a/images/t_PDP_864_v1,f_auto,q_auto:eco/9c9308fc-1651-40b2-9f2e-d85697d05027/dunk-low-retro-shoes-BDKXTS.png" alt="">
        <div class="shoesFun">
          <span>NIKE</span>
          <h5>X-Yellow</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹8,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1603189343302-e603f7add05a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
        <div class="shoesFun">
          <span>Black</span>
          <h5>Denim</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹4,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://plus.unsplash.com/premium_photo-1661274030066-09e7378fc470?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="shoesFun">
          <span>Grey</span>
          <h5>beenie</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="shoesFun">
          <span>Red</span>
          <h5>Oversized Sweater</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹2,599</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
      <div class="shoeRow">
        <img src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
        <div class="shoesFun">
          <span>Full</span>
          <h5>Formal</h5>
          <div class="star">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-half-outline"></ion-icon>
          </div>
          <h4>₹2,999</h4>
        </div>
          <a href=""><ion-icon name="cart-outline"></ion-icon></a>
      </div>
    </div>
  </div>
  
  <footer style="display: flex;align-items: center; justify-content: center;">
    <p>&copy; 2023 Your Company Name. All Rights Reserved.</p>
  </footer>
  
  <section class="socialHandles">
    <div class="social">
      <a href="https://www.instagram.com/sumitshxn/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="https://twitter.com/login?lang=en" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="https://www.facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="https://in.pinterest.com/" target="_blank"><ion-icon name="logo-pinterest"></ion-icon></a>
  
    </div>
  </section>
</ion-content>